<div class="container mt-5">
  <div class="crud-header">
    CRUD CARRERAS
  </div>
  <form (ngSubmit)="onSubmit()" #carreraForm="ngForm" class="mb-4">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" required [(ngModel)]="carrera.nombre" name="nombre" #nombre="ngModel">
      <div *ngIf="nombre.invalid && nombre.touched" class="text-danger">
       
      </div>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <input type="text" class="form-control" id="descripcion" [(ngModel)]="carrera.descripcion" name="descripcion">
    </div>
    <div class="form-group">
      <label for="director">Director:</label>
      <select class="form-control" id="director" required [(ngModel)]="carrera.usuario_id" name="usuario_id" #usuario_id="ngModel">
        <option value="" disabled selected>Seleccione un director</option>
        <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.nombre }}</option>
      </select>
      <div *ngIf="usuario_id.invalid && usuario_id.touched" class="text-danger">
        Seleccione un director.
      </div>
    </div>
    <button type="submit" class="btn btn-primary mr-2" *ngIf="!isEditing" [disabled]="!isFormValid()">Guardar</button>
    <button type="submit" class="btn btn-success mr-2" *ngIf="isEditing" [disabled]="!isFormValid()">Actualizar</button>
    <button type="button" class="btn btn-secondary" (click)="onCancelEdit()" *ngIf="isEditing">Cancelar</button>
  </form>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Director</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carrera of carreras" [class.table-active]="carrera.id === selectedCarrera?.id" (click)="selectCarrera(carrera)">
        <td>{{ carrera.id }}</td>
        <td>{{ carrera.nombre }}</td>
        <td>{{ carrera.descripcion }}</td>
        <td>{{ getDirectorName(carrera.usuario_id) }}</td>
        <td>
          <button class="btn btn-edit btn-sm mr-2" [disabled]="!selectedCarrera" (click)="onEdit(carrera)">Editar</button>
          <button class="btn btn-danger btn-sm" [disabled]="!selectedCarrera" (click)="onDelete(carrera.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
