<form (ngSubmit)="onSubmit()" #carreraForm="ngForm">
  <h1 style="text-align: center;">Curso</h1>

  <div class="mb-3">
    <label for="curso_nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="curso_nombre_input" required [(ngModel)]="curso.nombre" name="nombre">
  </div>

  <div class="mb-3">
    <label for="curso_descripcion" class="form-label">Descripcion</label>
    <input type="text" class="form-control" id="curso_descripcion_input" required [(ngModel)]="curso.descripcion"
      name="descripcion">
  </div>
  <div class="mb-3">
    <label for="usuario_id" class="form-label">TUTOR</label>
    <select class="form-select" id="tutor" required [(ngModel)]="curso.usuario_id" name="usuario_id">
      <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.nombre }}</option>
    </select>
  </div>


  <div class="mb-3">
    <label for="carrera_id" class="form-label">Carrera</label>
    <select class="form-select" id="carrera_id" required [(ngModel)]="curso.carrera_id" name="carrera_id">
      <option *ngFor="let carrera of carreras" [value]="carrera.id">{{ carrera.nombre }}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary mr-2" *ngIf="!isEditing">Guardar</button>
  <button type="button" class="btn btn-success mr-2" (click)="onUpdate()" *ngIf="isEditing">Actualizar</button>
  <button type="button" class="btn btn-secondary" (click)="onCancelEdit()" *ngIf="isEditing">Cancelar</button>
  <button type="button" class="btn btn-secondary" (click)="goBack()">Regresar</button>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Tutor</th>
      <th>Carrera</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let curso of cursos" [class.table-active]="curso.id === selectedCurso?.id"
      (click)="selectCursos(curso)">
      <td>{{curso.id}}</td>
      <td>{{curso.nombre}}</td>
      <td>{{curso.descripcion}}</td>
      <td>{{getTutorName(curso.usuario_id)}}</td>
      <td>{{curso.carrera_id}}</td>
      <td>
        <button class="btn btn-primary me-2" [disabled]="!selectedCurso" (click)="onEdit(curso)">Editar</button>
        <button class="btn btn-danger" [disabled]="!selectedCurso" (click)="onDelete(curso.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
