/* Estilo para la barra lateral */
.sidebar {
  background-color: #34495E; /* Fondo más oscuro para mejor contraste */
  height: 100vh;
  padding: 20px;
}

/* Estilo para los botones de navegación */
.sidebar .nav-link {
  color: #ECF0F1; /* Color del texto claro */
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 16px; /* Ajuste de tamaño de fuente para mejor legibilidad */
}

.sidebar .nav-link.active {
  background-color: #2980B9; /* Color de fondo del botón activo */
  color: #fff;
}

.sidebar .nav-link:hover {
  background-color: #3498DB; /* Color de fondo cuando se pasa el mouse sobre el botón */
  color: #fff;
}

/* Estilo para el contenedor principal */
.main-container {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #F4F6F8; /* Fondo claro para el contenido principal */
}
