<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/imagenes/logo.png" style="height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="d-flex" role="search">
        <a class="nav-link me-2" href="#">Perfil</a>
        <a class="nav-link me-2" type="submit">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</nav>
<div class="main-container">
  <div class="sidebar">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link mt-2" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="nav-link mt-2" routerLink="/periodos" routerLinkActive="active">Periodos</a>
      <a class="nav-link mt-2" routerLink="/carreras" routerLinkActive="active">Carreras</a>
      <a class="nav-link mt-2" routerLink="/cursos" routerLinkActive="active">Cursos</a>
      <a class="nav-link mt-2" routerLink="/roles" routerLinkActive="active">Roles</a>
      <a class="nav-link mt-2" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
      <a class="nav-link mt-2" routerLink="/actividades" routerLinkActive="active">Actividades</a>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
