<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-white">REGISTRO DE USUARIO</span>
      </div>
    </nav>
  
    <div class="container mt-4">
      <h2>Usuarios</h2>
      <form (ngSubmit)="guardarUsuario()">
        <div class="mb-3">
          <label for="cedula" class="form-label">Cédula</label>
          <input type="text" class="form-control" id="cedula" [(ngModel)]="usuario.cedula" name="cedula" required>
        </div>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="usuario.nombre" name="nombre" required>
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido" [(ngModel)]="usuario.apellido" name="apellido" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="usuario.email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono</label>
          <input type="tel" class="form-control" id="telefono" [(ngModel)]="usuario.telefono" name="telefono" required>
        </div>
        <div class="mb-3">
          <label for="fecha-nacimiento" class="form-label">Fecha de Nacimiento</label>
          <input type="date" class="form-control" id="fecha-nacimiento"  required [(ngModel)]="usuario.fecha_nacimiento" name="fechaNacimiento" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
  