/* styles.css */
body, html, ion-app, ion-content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  flex: 1;
}

.content {
  flex: 3;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
  }
}

.nav-pills .nav-link {
  text-align: center;
}
