<form (ngSubmit)="onSubmit()" #carreraForm="ngForm">
  <h1 style="text-align: center;">Roles</h1>
  <button class="btn btn-secondary mb-3" (click)="goBack()">Regresar</button>
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre_input" required [(ngModel)]="roles.nombre" name="nombre">
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripcion</label>
    <input type="text" class="form-control" id="descripcion_input" required [(ngModel)]="roles.descripcion" name="descripcion">
  </div>
  <button type="submit" class="btn btn-primary mr-2" *ngIf="!isEditing">Guardar</button>
  <button type="button" class="btn btn-success mr-2 me-2" (click)="onUpdate()" *ngIf="isEditing">Actualizar</button>
  <button type="button" class="btn btn-secondary" (click)="onCancelEdit()" *ngIf="isEditing">Cancelar</button>
</form>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>OPCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let roles of roless" [class.table-active]="roles.id === selectedRoles?.id" (click)="selectRoles(roles)">
      <td>{{roles.id}}</td>
      <td>{{roles.nombre}}</td>
      <td>{{roles.descripcion}}</td>
      <td>
        <button class="btn btn-primary me-2" [disabled]="!selectedRoles" (click)="onEdit(roles)">Editar</button>
        <button class="btn btn-danger" [disabled]="!selectedRoles" (click)="onDelete(roles.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
