<table class="table table-bordered">
    <thead>
      <tr>
        <th>Actividad</th>
        <th>Fecha máxima</th>
        <th>PDF de actividad</th>
        <th>PDF Entregado</th>
        <th>Subir</th>
        <th>ID Actividad</th>
        <th>ID Usuario</th>
        <th>Observacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let relacion of relacionactividadess">
        <td>{{ getActividadNombre(relacion.actividad_id) }}</td>
        <td>{{ formatFecha(getActividadFechaEntregaMax(relacion.actividad_id)) }}</td>
        <td>
          <button (click)="downloadFile(getActividadPdf(relacion.actividad_id))" class="btn btn-primary active mt-2">
            {{getActividadPdf(relacion.actividad_id)}}
          </button>
        </td>
        <td>
          <button (click)="downloadFile(relacion.pdf)" class="btn btn-primary active mt-2">
            {{relacion.pdf}}
          </button>
        </td>
        <td>
          <input type="file" (change)="onFileSelected($event, relacion)">
          <button *ngIf="selectedFiles[relacion.id]" (click)="uploadFile(relacion)" class="btn btn-primary mt-2">Subir</button>
        </td>
        <td>{{ relacion.actividad_id }}</td>
        <td>{{ relacion.usuario_id }}</td>
        <td>{{ relacion.observacion }}</td>
      </tr>
    </tbody>
  </table>
  