<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="assets/imagenes/logo.png" style="height: 40px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <div class="d-flex" role="search">
              <a class="nav-link me-2" href="#">Perfil</a>
              <a class="nav-link me-2" type="submit">Cerrar Sesión</a>
          </div>
      </div>
  </div>
</nav>


<div class="main-container">
  <div class="sidebar">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active mt-2" id="v-pills-home-tab" routerLink="/home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
          <button class="nav-link active mt-2" id="v-pills-periodos-tab" routerLink="/periodos" type="button" role="tab" aria-controls="v-pills-periodos" aria-selected="false">Periodos</button>
          <button class="nav-link active mt-2" id="v-pills-carreras-tab" routerLink="/carreras" type="button" role="tab" aria-controls="v-pills-carreras" aria-selected="false">Carreras</button>
          <button class="nav-link active mt-2" id="v-pills-cursos-tab" routerLink="/cursos" type="button" role="tab" aria-controls="v-pills-cursos" aria-selected="false">Cursos</button>
      </div>
  </div>

  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>
